.header__logo {
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--main-text);
    font-family: var(--secondary--font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;
}

.header__logo--discoloration {
    color: var(--accent-color);
}

.header__logo--discoloring {
    color: var(--main-background);
}

.header__logo--layout {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__logo--repositioning {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}